In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import style
style.use('ggplot')

Reading in the data: we use sample variance of half of the fifty random samples

In [36]:
df = pd.read_csv('../Data\ICTO_Datasets\ICTO_Giving_2018-2019.csv').sample(frac=0.5)

Explore the data: look at things such as the size of the dataset, the statistics on the data, data types of each column, and the data itself

In [37]:
df.head()

,DonorAccountId,MemberAccountId,FundId,FundGroup,GiftDate,GiftAmt
976907,4018515081654509124,NaN,123477885735431207,Wycliffe USA,2018-11-23,100.0
1539921,4792859286404406871,4.019401e+18,123472353817554209,Member,2019-05-28,50.0
379757,6475575074376195667,4.023335e+18,123472375326076195,Member,2018-05-07,265.0
134180,4019159283363028556,4.023402e+18,123472383882653479,Member,2018-02-15,500.0
188873,4023361590464159320,4.023370e+18,123472383882585636,Member,2018-03-05,75.0

In [38]:
df.shape

(866768, 6)

In [39]:
df.describe()

       DonorAccountId  MemberAccountId        FundId       GiftAmt
count    8.667680e+05     8.018700e+05  8.667680e+05  8.667680e+05
mean     4.218055e+18     4.038684e+18  1.234718e+17  2.253220e+02
std      7.859442e+17     1.972395e+17  1.953698e+12  5.586471e+03
min      3.499228e+18     3.528001e+18  1.234647e+17  1.000000e-02
25%      4.019374e+18     4.022463e+18  1.234724e+17  3.500000e+01
50%      4.022466e+18     4.023335e+18  1.234724e+17  6.000000e+01
75%      4.023362e+18     4.023348e+18  1.234724e+17  1.320000e+02
max      8.924426e+18     8.924116e+18  1.234790e+17  2.500000e+06

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 866768 entries, 976907 to 16024
Data columns (total 6 columns):
DonorAccountId     866768 non-null int64
MemberAccountId    801870 non-null float64
FundId             866768 non-null int64
FundGroup          866432 non-null object
GiftDate           866768 non-null object
GiftAmt            866768 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 46.3+ MB

In [41]:
df.columns

Index(['DonorAccountId', 'MemberAccountId', 'FundId', 'FundGroup', 'GiftDate',
       'GiftAmt'],
      dtype='object')

First step in data cleaning: checking for null values and dropping them

In [42]:
pd.isnull(df)

         DonorAccountId  MemberAccountId  FundId  FundGroup  GiftDate  GiftAmt
976907            False             True   False      False     False    False
1539921           False            False   False      False     False    False
379757            False            False   False      False     False    False
134180            False            False   False      False     False    False
188873            False            False   False      False     False    False
842100            False            False   False      False     False    False
1374406           False            False   False      False     False    False
952533            False            False   False      False     False    False
490686            False             True   False      False     False    False
886742            False            False   False      False     False    False
1106831           False            False   False      False     False    False
1336906           False            False   False      False     False    False
779828            False            False   False      False     False    False
1327604           False            False   False      False     False    False
878306            False            False   False      False     False    False
503700            False            False   False      False     False    False
986504            False             True   False      False     False    False
1212373           False            False   False      False     False    False
692023            False            False   False      False     False    False
1444090           False            False   False      False     False    False
1293087           False            False   False      False     False    False
53922             False            False   False      False     False    False
1461208           False            False   False      False     False    False
371047            False             True   False      False     False    False
1557629           False            False   False      False     False    False
625931            False            False   False      False     False    False
1048834           False            False   False      False     False    False
460132            False            False   False      False     False    False
438834            False            False   False      False     False    False
1262554           False            False   False      False     False    False
...                 ...              ...     ...        ...       ...      ...
1691900           False            False   False      False     False    False
981204            False             True   False      False     False    False
50689             False            False   False      False     False    False
673267            False            False   False      False     False    False
259159            False             True   False      False     False    False
710430            False            False   False      False     False    False
499694            False            False   False      False     False    False
548578            False            False   False      False     False    False
523707            False            False   False      False     False    False
287662            False            False   False      False     False    False
168690            False            False   False      False     False    False
1289107           False            False   False      False     False    False
1023548           False            False   False      False     False    False
1096652           False             True   False      False     False    False
385571            False            False   False      False     False    False
1512606           False             True   False      False     False    False
1247283           False            False   False      False     False    False
680389            False            False   False      False     False    False
160225            False            False   False      False     False    False
1569438           False            False   False      False     False    False
1419074           False            False   False      False     False    False
1654100           False             True   False      False     False    False
934773            False            False   False      False     False    False
1256155           False            False   False      False     False    False
981835            False            False   False      False     False    False
1540095           False            False   False      False     False    False
108579            False            False   False      False     False    False
1231714           False             True   False      False     False    False
308601            False            False   False      False     False    False
16024             False            False   False      False     False    False

[866768 rows x 6 columns]

In [43]:
df.isnull().sum()

DonorAccountId         0
MemberAccountId    64898
FundId                 0
FundGroup            336
GiftDate               0
GiftAmt                0
dtype: int64

Looking at the data there are many null values, we will drop them with this command

In [44]:
df = df.dropna()

In [48]:
df.shape

(801870, 6)

In [52]:
print("Null Values")
print(df.isnull().sum()) # checking again for null values
print()
print("Na Values")
print(df.isna().sum()) # also checking for na values

Null Values
DonorAccountId     0
MemberAccountId    0
FundId             0
FundGroup          0
GiftDate           0
GiftAmt            0
dtype: int64

Na Values
DonorAccountId     0
MemberAccountId    0
FundId             0
FundGroup          0
GiftDate           0
GiftAmt            0
dtype: int64

In [10]:
df['FundGroup'] = df['FundGroup'].astype('str')
df['GiftDate'] = df['GiftDate'].astype('str')

In [12]:
sum(df.duplicated())

0

In [16]:
df['FundGroup'].value_counts()

Member          799839
Paid Staff        1559
Wycliffe USA       357
Volunteer          168
Name: FundGroup, dtype: int64

In [17]:
# df = df.drop(['DonorAccountId', 'MemberAccountId'], axis=1)
df.head()

,DonorAccountId,MemberAccountId,FundId,FundGroup,GiftDate,GiftAmt
1474365,4023356569731276368,4.023348e+18,123472383848900645,Member,2019-05-06,15.0
598421,4019449596845563484,4.019361e+18,123472392489168417,Member,2018-07-19,225.0
1102996,4023388008170462812,4.022464e+18,123472353767811618,Member,2018-12-31,25.0
1689067,4023382473316572748,4.022465e+18,123472375325945379,Member,2019-07-17,75.0
825751,4023370580132699732,4.019458e+18,123472375174949414,Member,2018-10-05,50.0

Creating an Index column for all of the new data from 0 to last row

In [ ]:
# df['Index'] = df.iloc[0]

In [26]:
# df.set_index(df['Index']).head()

In [27]:
# df['Index'] = pd.Series(range(0,df.shape[0]))
# df['Index'] = pd.Series(range(0, len(df['FundId'])))
# df['Index'].head()

In [28]:
# print(df.shape[0])

In [29]:
# df.set_index(df['Index']).head()

In [30]:
# df.head()

Reading out the cleaned dataset into a new csv file

In [31]:
# df.to_csv('../Data/ICTO_Datasets/cleaned_ICTO_Giving_2018-2019.csv')